In [18]:
import configparser
import psycopg2
from sql_queries import copy_table_queries, insert_table_queries
from sql_queries import create_table_queries, drop_table_queries

In [41]:
config = configparser.ConfigParser()
config.read('dwh.cfg')

conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values()))
cur = conn.cursor()

In [ ]:
# cur.execute(("""
# COPY stg_event_table from {}
# CREDENTIALS 'aws_iam_role={}'
# REGION 'us-west-2'
# json {} 
# """).format(config.get('S3','LOG_DATA'),config.get('IAM_ROLE','ARN'),config.get('S3','LOG_JSONPATH')))

In [3]:
def drop_tables(cur, conn):
    for query in drop_table_queries:
        cur.execute(query)
        conn.commit()

In [14]:
drop_tables(cur, conn)

In [5]:
def create_tables(cur, conn):
    for query in create_table_queries:
        cur.execute(query)
        conn.commit()

In [15]:
create_tables(cur, conn)

In [ ]:
def load_staging_tables(cur, conn):
    for query in copy_table_queries:
        cur.execute(query)
        conn.commit()


def insert_tables(cur, conn):
    for query in insert_table_queries:
        cur.execute(query)
        conn.commit()

In [ ]:
load_staging_tables(cur, conn)

In [ ]:
config.get('S3','LOG_DATA')

In [17]:
cur.execute(("""
COPY stg_event_table from {}
CREDENTIALS 'aws_iam_role={}'
REGION 'us-west-2'
json {};
""").format(config.get('S3','LOG_DATA'),config.get('IAM_ROLE','ARN'),config.get('S3','LOG_JSONPATH')))
conn.commit()

In [16]:
cur.execute(("""
COPY stg_song_table from {}
CREDENTIALS 'aws_iam_role={}'
REGION 'us-west-2'
json 'auto';
""").format(config.get('S3','SONG_DATA'),config.get('IAM_ROLE','ARN')))
conn.commit()

In [42]:
cur.execute(("""
CREATE TABLE IF NOT EXISTS time_table (
start_time TIMESTAMP PRIMARY KEY,
hour INTEGER,
day INTEGER,
week INTEGER,
month INTEGER,
year INTEGER,
weekday INTEGER
);
"""))
conn.commit()

In [46]:
cur.execute(("""
INSERT INTO artist_table (
artist_id,
name,
location,
latitude,
longitude
)
SELECT DISTINCT
s.artist_id,
s.artist_name,
s.artist_location,
s.artist_latitude,
s.artist_longitude
FROM stg_song_table AS s;
"""))
conn.commit()

In [ ]:
cur.execute(query)
conn.commit()

In [ ]:
cur.execute(query)
conn.commit()

In [ ]:
cur.execute(query)
conn.commit()

In [ ]:
cur.execute(query)
conn.commit()

In [47]:
conn.close()

In [ ]:
%reload_ext sql

In [ ]:
%%sql
select * from stl_load_errors;